/* Loader Overlay */
#loader-overlay arc {
    width:100;
    height:100;
}
#loader-overlay arc#arc1{
    x:-50;
    y:-50;
    fill:#4ebeff;
    arc-width:5;
    start-angle:0;
    sweep-angle:60;
}
#loader-overlay arc#arc2{
    x:50%-50;
    y:50%-50;
    fill:#11435d;
    arc-width:12;
    start-angle:0;
    sweep-angle:360;
}
#loader-overlay text {
    x:50%;
    y:80%;
    font-size:20;
    text-anchor:middle;
    fill:#4ebeff;
    text-length: 32;
}
#loader-overlay text#sub-text{
    y:90%-8;
    font-size:16;
    font-family: System-Bold;
}
#loader-overlay gradientRect {
    width:100%;
    height:100%;
    gradient-type:radial;
    gradient-x1:50%;
    gradient-y1:50%;
    gradient-x2:50%+120;
    gradient-y2:50%+120;
    gradient-color1:#0c1c38;
    gradient-color2:black;
}
