
/* status bar */
#lm-status-bg {
  width:100%;
  height:32;
  fill:black;
}
#lm-status-time {
  x: 100%-30;
  y: 23;
  font-size: 20;
  font-family: System-Bold;
  font-weight: regular;
  fill: #d6d6d6;
  /* fill: #1effce; */
  text-anchor: end;
  text-length: 8;
}
#lm-status-date {
  x: 28;
  y: 23;
  font-size: 20;
  font-family: System-Bold;
  font-weight: regular;
  fill: #d6d6d6;
  text-anchor: start;
  text-length: 16;
}
#lm-stats {
  x: 55%;
  y: 16;
}
#lm-stats image {
  x: -10;
  y: -10;
  width:20;
  height:20;
  /* fill:#6b6b6b; */
  fill:#467ca6;
}
#lm-info {
  x: 100%-13;
  y: 15;
}


/* message overlay */
#message-overlay rect {
  fill:black;
  width:100%;
  height:100%;
}
#message-overlay textarea {
  fill:white;
  x:10;
  y:20%;
  width:100%-20;
  height:80%;
  text-anchor:start;
  font-family:System-Regular;
  font-size:24;
  text-length: 128;
}


/* TEST STUFF */
.title {
    x: 50%;
    y: 50%+15;
    fill: fb-yellow;
    font-family: System-Regular;
    font-size: 40;
    font-weight: bold;
    text-anchor: middle;
  }

  .btn {
    y: 100%-60;
    height: 60;
    fill: fb-red;
    font-family: System-Regular;
    font-size: 40;
  }

  #text {
    y: 12;
    fill: white;
  }