/* tile ids */
#text-title {
  y: 30%;
  font-size: 22;
  font-family: System-Bold;
  text-length: 32;
}
#text-subtitle{
  y: 50%;
  font-size: 18;
  text-length: 32;
}
#text-L{
  x: 4%;
  y: 85%;
  font-size: 18;
  text-anchor: start;
  text-length: 8;
}
#text-R{
  x: 95%;
  y: 85%;
  font-size: 18;
  text-anchor: end;
  text-length: 32;
}

/* tile classes */
.lm-tile-list {
  y: 26;
  height: 100%-26;
}
.tile-list-item {
  height: 95;
}
.tile-item-bg {
  x: 1%;
  y: 3%;
  width: 98%;
  height: 96%;
  fill:#1f1f1f;
}
.tile-item-bg-cnr {
  fill:#1f1f1f;
}
.tile-list-text {
  x: 50%;
  text-anchor: middle;
  font-family: System-Regular;
  font-weight: regular;
  fill: white;
}

/* status bar */
#lm-status-bg {
  width: 100%;
  height: 26;
  fill: black;
}
#lm-status-time {
  x: 100%-4;
  y: 20;
  font-size: 18;
  font-family: System-Bold;
  font-weight: regular;
  fill: #1fdda1;
  text-anchor: end;
  text-length: 8;
}
#lm-status-date {
  x: 28;
  y: 20;
  font-size: 18;
  font-family: System-Bold;
  font-weight: regular;
  fill: #eb1f4e;
  text-anchor: start;
  text-length: 16;
}
#lm-back-btn {
  x: 14;
  y: 14;
}
#lm-back-btn circle {
  r: 10;
  fill:#eb1f4e;
}
#lm-back-btn text{
  x: -4;
  y: +4;
  font-size: 18;
  font-family: System-Bold;
  fill: black;
}